node_modules/
.env
dist/
build/
.DS_Store
*.log
.gemini/
.agent/
frontend/node_modules/
backend/node_modules/
Frontend/node_modules/
Backend/node_modules/
Frontend/dist/
Frontend/.env
Backend/.env

Backend/create_admin_aiven.js
